langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain-pinecone
notebook
tavily-python
wikipedia
trustcall
langgraph-cli
langchain-groq
langchain-anthropic
python-dotenv
pydantic
unstructured[all-docs] 
pinecone[grpc]
pymupdf
ragas
datasets
gradio
langserve
pymupdf